body {
	background-color: dimgray;
}
canvas {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
}

.splash-back
{
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 82vh;
	width: 100vw;
	text-align: center;
	z-index: 1;
	h1
	{
		font-size: 12vmin;
		white-space: nowrap;
                font-weight: 700;
                color: $font-color;
	}
}

.splash-front
{
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	text-align: center;
	z-index: 5;
	bottom: 0;
	margin: 0 auto;
        .flex-buttons {
        }
	h2
	{
		font-size: 4vmin;
		color: white;
                font-weight: 300;
	}
	.front-button
	{
		background-color: rgba(255, 255, 255, 0.2);
		border: none;
		color: rgba(255, 255, 255, 1);
		font-size: 2.5vmin;
                text-decoration: none;
                border-radius: 10px;
                padding: 0.5em;
	}
	.front-button-alt
	{
                background-image: linear-gradient(to right, $surface-color, $depth-color);
		border: none;
		color: rgba(255, 255, 255, 0.9);
		font-size: 2.5vmin;
                text-decoration: none;
                border-radius: 10px;
                padding: 0.5em;
                margin-left: -1%;
                margin-right: 1%;
	}
	.front-button:hover{
		background-color: rgba(255, 255, 255, 0.1);
	}
	.front-button-alt:hover{
                background-image: none;
		background-color: rgba(255, 255, 255, 0.1);
	}
}

.splash-front-mobile
{
	h2
	{
		top: 0;
		margin-top: 60%;
	}
}

.splash-footer
{
	position: fixed;
	margin: 0 auto;
	z-index: 5;
	bottom: 5%;
	width: 100%;
	text-align: center;
	font-size: 2vmin;
	color: white;
	a
	{
		color: white;
		text-decoration: underline;
	}
	a:hover
	{
		color: rgba(255, 255, 255, 0.5);
	}
}

.splash-empty
{
	height: 100vh;
	width: 100vw;
	position: fixed;
	opacity: 0;
	z-index: -1;
	
}

.lil-gui.root
{
	margin-top: 6vh;
}

